.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
	color: red;
}
img{
	width: 100%;
}
.col-md-6{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;

}
body{
	margin: 10px;
	background-color: #f4f4f4;
}
.row{
	background-color: lightblue;
}
h1{
	text-align: center;
}